 .simonContainer {
          height: 300px;
     }
.simonBackground {
          background-color: #FFF;
          position: absolute;
          width: 302px;
          height: 295px;
          -moz-border-radius: 150px;
          -webkit-border-radius: 150px;
          -o-border-radius: 150px;
          border-radius: 150px;
          -moz-box-shadow: 2px 1px 12px #aaa;
          -webkit-box-shadow: 2px 1px 12px #aaa;
          -o-box-shadow: 2px 1px 12px #aaa;
          box-shadow: 2px 1px 12px #aaa;
} 

ul, li { list-style: none; padding:0; margin:0; }

#red, #blue, #yellow, #green {opacity: 0.6;}
#red {
    background: #FF5643; 
    border-radius: 150px 150px 150px 150px;
    clip: rect(0px, 300px, 150px, 150px);
    height: 290px;
    position: absolute;
    width: 296px;
    text-indent:10000px;
}
#blue {
     background: dodgerblue;
     border-radius: 150px 150px 150px 150px;    
     clip: rect(0px, 150px, 150px, 0px);
     height: 290px;
     position: absolute;
     width: 300px;
    text-indent:10000px;
}

#yellow {
     background: #FEEf33;
     border-radius: 150px 150px 150px 150px;    
     clip: rect(150px, 150px, 300px, 0px);
     height: 290px;
     position: absolute;
     width: 300px;
    text-indent:10000px;
}

#green {
     background: #BEDE15;
     border-radius: 150px 150px 150px 150px;    
     clip: rect(150px,300px, 300px, 150px);
     height: 290px;
     position: absolute;
     width: 296px;
    text-indent:10000px;
}

button {
  background: dodgerblue;
  padding:4px 8px;
  font-size:20px;
  font-variant: small-caps;
  color: white;
}